{% extends 'base.html' %}


{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<div class="container mb-3">

<script id="wg_fwdg_931293_21_1624042268331">
  (function (window, document) {
    var loader = function () {
      var arg = ["s=931293", "m=21", "uid=wg_fwdg_931293_21_1624042268331", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=pl", "p=WINDSPD,GUST,MWINDSPD,SMER,TMPE,CDC,APCP1s,SLP"];
      var script = document.createElement("script");
      var tag = document.getElementsByTagName("script")[0];
      script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
      tag.parentNode.insertBefore(script, tag);
    };
    window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
  })(window, document);
</script>

</div>



{% comment %} http://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2021040618&row=318&col=213&lang=pl
{% endcomment %}




{% endblock content %}