{% comment %} SPLIT LESSON MODAL {% endcomment %}

<div class="modal fade" id="split_modal_{{lesson.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Rozdzielasz lekcje grupowa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <span><b>Lekcja</b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Data:
          </div>
          <div class="col-auto">
            {{lesson.start_date|date:'d-m-Y'}}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Godzina:
          </div>
          <div class="col-auto">
            {{lesson.start_time|time:'H:i'}}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Instruktor:
          </div>
          <div class="col-auto">
            {%for instr in lesson.instructor.all%}
              <div>{{instr}}</div>
            {%endfor%}
          </div>
        </div>
        <hr class="complete-lesson-divider">

        <form method="POST" action="{% url 'lesson:lesson-split' lesson.id %}">
          {% csrf_token %}
          <div class="row mb-2">
            <div class="col">
              <span><b>Kto opuszcza lekcje ?</b></span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {% for student in lesson.student.all%}
                <div class="row">
                  <div class="col">
                    <input type="radio" required value={{student.id}} name="leaving_student_id" id="{{student.id}}">
                    <label for="{{student.id}}">{{student}}</label>
                  </div>
                </div>
              {%endfor%}
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <span><b>Ile czasu był/była na lekcji ?</b></span><br>
              <span><small>wyrażane w godzinach - np. 1,5</small></span>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <input class="input" type="number" min="0.5" max="6" step="0.25" name="time_spent" required>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Powrót</button>
        <input class="btn btn-success" type="submit" value="Rozdziel">
        </form>
      </div>
    </div>
  </div>
</div>
{% comment %} MODAL END {% endcomment %}


{% comment %} COMPLETE LESSON MODAL {% endcomment %}
<div class="modal fade" id="complete_modal_{{lesson.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Zakończ lekcje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            Data:
          </div>
          <div class="col-auto">
            {{lesson.start_date|date:'d-m-Y'}}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Godzina:
          </div>
          <div class="col-auto">
            {{lesson.start_time|time:'H:i'}}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Instruktor:
          </div>
          <div class="col-auto">
            {%for instr in lesson.instructor.all%}
              <div>{{instr}}</div>
            {%endfor%}
          </div>
        </div>
        <hr class="complete-lesson-divider">

        <form method="POST" action="{% url 'lesson:lesson-complete' pk=lesson.id %}">
        {% csrf_token %}
        <div class="row mb-3 mx-1 align-items-center">
          <div class="col">
            <b>Czas trwania lekcji:</b>
          </div>
          <div class="col align-self-start">
            <input class="input lesson-complete-duration" type="number" id="id_duration" name="duration" value="{{lesson.duration}}" min="0.5" max="6" step="0.25" required>
          </div>
        </div>
        {% comment %} <div class="row my-3 align-items-center">
          <div class="col-auto">
            <b>Osiągnięty poziom IKO:</b>
          </div>
        </div> {% endcomment %}

        {%for student in lesson.student.all%}
        <div class="row mb-3 mx-1 pb-2 align-items-center lesson-complete-student-row">
          <div class="col-12 pt-1">
            <div>
              <span class="lesson-complete-student-name">{{student}}</span>
              <br>
              <span><small>Poziom: {{student.iko_level|default_if_none:"---"}}</small></span>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col pr-0">
                <span><b>Nowy poziom:</b></span>
              </div>
              <div class="col-auto">
                <!-- <input class="input lesson-complete-input" type="text" maxlength="10"
                name="new_iko_level_{{student.id}}" required> -->
                <select name="new_iko_level_{{student.id}}" required>
                  <optgroup label="Level 1 - Discovery">
                    <option value="">--Wybierz poziom--</option>
                    <option value="1A">1A</option>
                    <option value="1B">1B</option>
                    <option value="1C">1C</option>
                    <option value="1D">1D</option>
                    <option value="1E">1E</option>
                  </optgroup>
                  <optgroup label="Level 2 - Intermediate">
                    <option value="2F">2F</option>
                    <option value="2G">2G</option>
                    <option value="2H">2H</option>
                    <option value="2I">2I</option>
                  </optgroup>
                  <optgroup label="Level 3 - Independent">
                    <option value="3J">3J</option>
                    <option value="3K">3K</option>
                    <option value="3L">3L</option>
                    <option value="3M">3M</option>
                    <option value="3N">3N</option>
                  </optgroup>
                  <optgroup label="Level 4 - Advanced">
                    <option value="4O">4O</option>
                    <option value="4P">4P</option>
                    <option value="4Q">4Q</option>
                    <option value="4R">4R</option>
                    <option value="4S">4S</option>
                    <option value="4T">4T</option>
                    <option value="4U">4U</option>
                    <option value="4V">4V</option>
                    <option value="4W">4W</option>
                    <option value="4X">4X</option>
                    <option value="4Y">4Y</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-6">
            <div class="row">
              <div class="col pr-0">
                <span><b>Czas na lekcji:</b></span>
              </div>
              <div class="col-auto">
                <input class="input lesson-complete-input" type="number" value="{{lesson.duration}}" min="0.5" max="6" step="0.25" name="student_lesson_duration_{{student.id}}" required="">
              </div>
            </div>
          </div> {% endcomment %}
        </div>

        {%endfor%}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Anuluj</button>
          <input class="btn btn-success" type="submit" value="Zakończ">
        </form>
      </div>
    </div>
  </div>
</div>
{% comment %} MODAL END {% endcomment %}


{% comment %} MARK LESSON AS PAID MODAL {% endcomment %}

<div class="modal fade" id="mark_as_paid_{{lesson.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="exampleModalLabel">Rozliczenie lekcji</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            Data:
          </div>
          <div class="col-auto">
            {{lesson.start_date|date:'d-m-Y'}}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Godzina:
          </div>
          <div class="col-auto">
            {{lesson.start_time|time:'H:i'}}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Instruktor:
          </div>
          <div class="col-auto">
            {%for instr in lesson.instructor.all%}
              <div>{{instr}}</div>
            {%endfor%}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>Lekcja trwała:</b>
          </div>
          <div class="col-auto">
            <b>{{lesson.duration}}&nbsp;h</b>
          </div>
        </div>

        <hr class="complete-lesson-divider">

        <div class="row mb-3">
          <div class="col-3">
            <b>Uczestnicy</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {%for lesson_detail in lesson.lessondetail_set.all%}
              <div class="row mb-4">
                <div class="col mark-modal-student-div">
                  <div class="row">
                    <div class="col border-right border-secondary">
                      <div class="row">
                        <div class="col text-primary">
                          <span><b>{{lesson_detail.student}}</b></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <small class="float-left">Stawka: {{lesson_detail.pay_rate}}&nbsp;zł/h</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto align-self-center">
                      <span>Do zapłaty:</span>
                    </div>
                    <div class="col align-self-center">
                      <b class="text-success">{{lesson_detail.price}}&nbsp;zł</b>
                    </div>
                  </div>
                </div>
              </div>
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url 'lesson:lesson-mark-as-paid' lesson.id %}">
          {% csrf_token %}
          <button type="button" class="btn btn-warning" data-dismiss="modal">Anuluj</button>
          <input class="btn btn-success" type="submit" value="Rozlicz lekcje">
        </form>
      </div>
    </div>
  </div>
</div>

{% comment %} MODAL END {% endcomment %}
