#id_instructor, #id_student, .list-group{
  list-style: none;
}

div > label{
  font-weight: bold;
}

#id_duration{
  width: 4rem;
}
#id_kite_brand{
  width: 6rem;
}
#id_board{
  width: 6rem;
}

#id_student{
  height: 12rem;
  width: 25rem;
  overflow-y: scroll;
}
#id_instructor{
  height: 12rem;
  width: 20rem;
  overflow-y: scroll;

}
.lesson-details-col{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 2%;
}
.instr-col{
  border: 1px solid gray;
  padding: 10px;
  margin-left: 20px;
  border-radius: 2%;
}
.student-col{
  border: 1px solid gray;
  padding: 10px;
  margin-left: 20px;
  border-radius: 2%;
}
.instr-label{
  text-align: center;
  font-size: 1.2em;
}
.student-label{
  text-align: center;
  font-size: 1.2em;
}
.student-picked-list{
  min-height: 2em;
  max-height: fit-content;
}
.student-picked{
  color: rgb(21, 158, 21);
  font-weight: bold;
}



