.schedule-container{
  background-color: #e7e7e7;
  overflow: hidden;
}

.hours-container {
  display: grid;
  grid-template-columns: repeat(62, 1fr);
  grid-auto-rows: minmax(25px, auto);
  grid-template-areas:
    "INSTR H7 H7-Q1 H7-Q2 H7-Q3 H8 H8-Q1 H8-Q2 H8-Q3 H9 H9-Q1 H9-Q2 H9-Q3 H10 H10-Q1 H10-Q2 H10-Q3 H11 H11-Q1 H11-Q2 H11-Q3 H12 H12-Q1 H12-Q2 H12-Q3 H13 H13-Q1 H13-Q2 H13-Q3 H14 H14-Q1 H14-Q2 H14-Q3 H15 H15-Q1 H15-Q2 H15-Q3 H16 H16-Q1 H16-Q2 H16-Q3 H17 H17-Q1 H17-Q2 H17-Q3 H18 H18-Q1 H18-Q2 H18-Q3 H19 H19-Q1 H19-Q2 H19-Q3 H20 H20-Q1 H20-Q2 H20-Q3 H21 H21-Q1 H21-Q2 H21-Q3 H22"; 
  border-bottom: 2px solid gray;
}
.lessons-container {
  display: grid;
  grid-template-columns: repeat(62, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "INSTR H7 H7-Q1 H7-Q2 H7-Q3 H8 H8-Q1 H8-Q2 H8-Q3 H9 H9-Q1 H9-Q2 H9-Q3 H10 H10-Q1 H10-Q2 H10-Q3 H11 H11-Q1 H11-Q2 H11-Q3 H12 H12-Q1 H12-Q2 H12-Q3 H13 H13-Q1 H13-Q2 H13-Q3 H14 H14-Q1 H14-Q2 H14-Q3 H15 H15-Q1 H15-Q2 H15-Q3 H16 H16-Q1 H16-Q2 H16-Q3 H17 H17-Q1 H17-Q2 H17-Q3 H18 H18-Q1 H18-Q2 H18-Q3 H19 H19-Q1 H19-Q2 H19-Q3 H20 H20-Q1 H20-Q2 H20-Q3 H21 H21-Q1 H21-Q2 H21-Q3 H22"; 
  border-bottom: 2px solid gray;
}

.schedule-date-div{
  display: flex;
  place-content: space-evenly;
}
.INSTR{
  /* display: grid; */
  grid-column-start: INSTR;
  width: 10em;
  border-right: 1px solid gray;

  align-content: center;
  text-align: center;
}

.lesson-tile{
  /* padding: .3em; */
  margin: 0 .2em 0 .2em;
  height: max-content;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: lavender;
}

.lesson-in-progress{
  background-color: #a5e0a5;
}
.lesson-completed{
  background-color: #ecbea8;;
}

.lesson-settings-col{
  position: relative;
}

.lesson-settings-icon{
  color: #49494d;
  cursor: pointer;
}

.settings-menu{
  position: absolute;
  width: max-content;
  top: -1rem;
  left: 1.8rem;
  /* padding: 5px; */
  border: 2px solid;
  background-color: lavender;
  border-radius: 4px;
  z-index: 1;
}
.settings-menu-border{
  transform: rotate3d(0, 0.0, 0.0, 180deg) translateX(-9rem);
}
.lesson-settings-menu-item{
  padding: 2px 5px 2px 5px;
}
.lesson-settings-menu-item:hover{
  background-color: #bcd9f8;
  border-radius: 4px;
}

.lesson-edit-link > * {
  text-decoration: none;
  color: black;
}
.lesson-confirmed-corner-highlight{
  background-color: #a5e0a5;
  border-radius: 3px;
}
.fa-play{
  color: #05a228;
}
.fa-pause{
  color: #c14040;
}

.btn_rmv_stl{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: none;
  cursor: pointer;
}
.none-equipment{
  font-weight: bold;
  color: #e70f00;
}
.bold-text{
  font-weight: bold;
  color: rgb(63, 63, 63);
}

hr {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

/* COMPLETE LESSON MODAL */
.complete-lesson-divider{
  margin-top: .7rem;
  margin-bottom: .7rem;
}
.lesson-complete-student-row{
  box-shadow: 0px 0px 1px 1px #caced0;
}
.lesson-complete-student-name{
  font-weight: bold;
  color: #0a64f0;
}
.lesson-complete-duration{
  width: 5rem;
}
.lesson-complete-input{
  width: 4rem;
}


/* Schedule hours */

.hour-tile{
  padding-left: .3rem;
  box-shadow: -1px 0px 0px 0px #adadad, 1px 0px 0px 0px #adadad;
  /* font-weight: bold; */
  font-size: 1.1em;
}
.current-hour{
  background-color: #ffcd71;
  box-shadow: 0px 0px 2px 2px #adadad, 1px 0px 0px 0px #adadad;
}

.H7{
  grid-column-start: H7;
}
.H7-Q1{
  grid-column-start: H7-Q1;
}
.H7-Q2{
  grid-column-start: H7-Q2;
}
.H7-Q3{
  grid-column-start: H7-Q3;
}
.H8{
  grid-column-start: H8;
}
.H8-Q1{
  grid-column-start: H8-Q1;
}
.H8-Q2{
  grid-column-start: H8-Q2;
}
.H8-Q3{
  grid-column-start: H8-Q3;
}
.H9{
  grid-column-start: H9;
}
.H9-Q1{
  grid-column-start: H9-Q1;
}
.H9-Q2{
  grid-column-start: H9-Q2;
}
.H9-Q3{
  grid-column-start: H9-Q3;
}
.H10{
  grid-column-start: H10;
}
.H10-Q1{
  grid-column-start: H10-Q1;
}
.H10-Q2{
  grid-column-start: H10-Q2;
}
.H10-Q3{
  grid-column-start: H10-Q3;
}
.H11{
  grid-column-start: H11;
}
.H11-Q1{
  grid-column-start: H11-Q1;
}
.H11-Q2{
  grid-column-start: H11-Q2;
}
.H11-Q3{
  grid-column-start: H11-Q3;
}
.H12{
  grid-column-start: H12;
}
.H12-Q1{
  grid-column-start: H12-Q1;
}
.H12-Q2{
  grid-column-start: H12-Q2;
}
.H12-Q3{
  grid-column-start: H12-Q3;
}
.H13{
  grid-column-start: H13;
}
.H13-Q1{
  grid-column-start: H13-Q1;
}
.H13-Q2{
  grid-column-start: H13-Q2;
}
.H13-Q3{
  grid-column-start: H13-Q3;
}
.H14{
  grid-column-start: H14;
}
.H14-Q1{
  grid-column-start: H14-Q1;
}
.H14-Q2{
  grid-column-start: H14-Q2;
}
.H14-Q3{
  grid-column-start: H14-Q3;
}
.H15{
  grid-column-start: H15;
}
.H15-Q1{
  grid-column-start: H15-Q1;
}
.H15-Q2{
  grid-column-start: H15-Q2;
}
.H15-Q3{
  grid-column-start: H15-Q3;
}
.H16{
  grid-column-start: H16;
}
.H16-Q1{
  grid-column-start: H16-Q1;
}
.H16-Q2{
  grid-column-start: H16-Q2;
}
.H16-Q3{
  grid-column-start: H16-Q3;
}
.H17{
  grid-column-start: H17;
}
.H17-Q1{
  grid-column-start: H17-Q1;
}
.H17-Q2{
  grid-column-start: H17-Q2;
}
.H17-Q3{
  grid-column-start: H17-Q3;
}
.H18{
  grid-column-start: H18;
}
.H18-Q1{
  grid-column-start: H18-Q1;
}
.H18-Q2{
  grid-column-start: H18-Q2;
}
.H18-Q3{
  grid-column-start: H18-Q3;
}
.H19{
  grid-column-start: H19;
}
.H19-Q1{
  grid-column-start: H19-Q1;
}
.H19-Q2{
  grid-column-start: H19-Q2;
}
.H19-Q3{
  grid-column-start: H19-Q3;
}
.H20{
  grid-column-start: H20;
}
.H20-Q1{
  grid-column-start: H20-Q1;
}
.H20-Q2{
  grid-column-start: H20-Q2;
}
.H20-Q3{
  grid-column-start: H20-Q3;
}
.H21{
  grid-column-start: H21;
}
.H21-Q1{
  grid-column-start: H21-Q1;
}
.H21-Q2{
  grid-column-start: H21-Q2;
}
.H21-Q3{
  grid-column-start: H21-Q3;
}
.H22{
  grid-column-start: H22;
}



/* background-color: #E5E5F7;
opacity: 0.4;
background: repeating-linear-gradient( -45deg, #444CF7, #444CF7 10px, #E5E5F7 10px, #E5E5F7 50px ); */