.input-column-1 {
  border-right: 2px solid #adadad;
  /* margin-right: 1rem; */
}

.input-row {
  margin-bottom: .5rem;
}

#id_instructor, #id_student {
  list-style: none;
}

div>label {
  font-weight: bold;
}

#id_duration {
  width: 3rem;
}

#id_kite_brand {
  max-width: 10em;
}

#id_board {
  max-width: 10em;
}

#id_student {
  height: 15rem;
  width: 25rem;
  overflow-y: scroll;
}

#id_instructor {
  /* border: 1px solid rgb(167, 167, 167); */
  height: 17rem;
  width: 20rem;
  overflow-y: scroll;
}

.lesson-details-col {
  border: 1px solid gray;
  padding: 1rem;
  background-color: #ececec;
  border-radius: .7rem;
}

.instr-col {
  border: 1px solid gray;
  padding: 10px;
  margin-left: 20px;
  border-radius: .7rem;
}

.student-col {
  border: 1px solid gray;
  padding: 10px;
  margin-left: 20px;
  border-radius: 2%;
}

.instr-label {
  text-align: center;
  font-size: 1.2em;
}

.student-label {
  text-align: center;
  font-size: 1.2em;
}

.student-picked-list {
  min-height: 2em;
  max-height: fit-content;
}

.student-picked {
  color: rgb(21, 158, 21);
  font-weight: bold;
}

.instructor-picked {
  display: flex;
  padding: .1rem;
  margin-bottom: .1rem;
  color: rgb(19, 138, 19);
  font-weight: bold;
}

.instructor-picked:hover {
  background-color: lightgray;
  border-radius: .3rem;
}

.remove-icon {
  margin-left: auto;
  margin-right: .6rem;
  align-self: center;
  color: #dc3545;
}

.remove-icon:hover {
  cursor: pointer;
}