#  Ignore
.vscode/
staticfiles/
# Don't ignore src folder and other exceptional files
!requirements.txt
!.gitignore
!apps/

# Ignore cache and db
__pycache__
db.sqlite3
static/fontawesome_5/*
**/migrations/**
# Ignore migrations folder - Uncomment if working in team
migrations/


# 
# PRODUCTION SPECIFIC IGNORES
# 

**/settings.py
staticfiles/


