#  Ignore
.vscode/

# Don't ignore src folder and other exceptional files
!requirements.txt
!.gitignore
!apps/

# Ignore cache and db
__pycache__
db.sqlite3

# Ignore migrations folder - Uncomment if working in team
# migrations/