{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KC - Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
</head>
<body>
  <div class="container mt-5">
    <div class="row mt-5 justify-content-center">
      <div class="col-auto">
        <h4>Sprawdź pocztę!</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      Kliknij w link który wysłaliśmy na podany adres aby ustawić nowe hasło.
    </div>
  </div>

</body>
</html>