{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KC - Reset Password</title>
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
</head>
<body>

<div class="login-container border shadow-sm">

  <div class="row p-0 mb-4">
    <div class="col-auto reset-back-link pr-0">
      <a href="{% url 'account:login' %}">
        <i class="fas fa-long-arrow-alt-left"></i>
      </a>
    </div>
    <div class="col p-0 text">
      <h3>Reset hasła</h3>
    </div>
  </div>
  <div class="d-flex text mb-4">
    <span>Podaj email na który wyślemy link który umożliwi zmianę hasła</span>
  </div>
  <form method="POST" >
  {% csrf_token %}
      <div class="row">
          <div class="col-md-12">            
              <input type="email" name="email" required class="form-control" placeholder="user@email.com">
          </div>
          <div class="col-md-12 mt-3">
              <input type="submit" class="btn btn-block btn-login" >     
          </div>
      </div>
  </form>
  
</div>
    
</body>
</html>