{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KC - Reset Password</title>
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
</head>
<body>
  <div class="container mt-5">
    <div class="row mt-5 justify-content-center">
      <div class="col-auto">
        <h1>Bang!</h1>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-auto">
        <h4>Zrobione!</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <span>Możesz teraz zalogować się używając nowego hasła</span>
    </div>
    <div class="row justify-content-center mt-3">
      <a href="{% url 'account:login' %}">
      <h5>Zaloguj się</h5>
      </a>
    </div>
  </div>

</body>
</html>

