{% extends 'instructor/instructor_home.html'%}
{% load static %}

{% block extra_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/task_list.css' %}">
{% endblock extra_css %}

{% block sub_content %}

<div class="row mb-5 border-bottom border-grey">
  <div class="col-auto">
    <h3>Zadania</h3>
  </div>
  <div class="col-auto">
    <div>
    <a href="{% url 'task:task-create' %}">
      <button class="btn btn-sm btn-success">
      <i class="fa fa-plus"></i> Dodaj zadanie</button>
    </a>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-auto border-bottom border-dark">
    <h4>Zlecone</h4>
  </div>
</div>
  {%if False in tasks_complete_statuses %}
  <div class="row mb-5">
    
    <div class="col-md-12 border-right border-dark">
      {% for task in tasks %}
      {%if task.completed_flag == False %}
        <div class="row task-item mb-2 mr-1 p-2 rounded shadow-sm">
          <div class="col-sm-auto col-md-3">
            {%for instr in task.instructor.all%}
            <strong>{{instr}}</strong><br>
            {%endfor%}
          </div>
          <div class="col task-desc">
            <strong>#{{task.id}} - {{task.title}}</strong><br>
            {{task.description}}
          </div>
          <div class="col-auto">
            <div class="row gy-1 align-items-center">
              <div class="col-auto">
                <div>
                  <i class="fas fa-coins mr-2 coin"></i>
                  {{task.value}}
                </div>
              </div>              
            </div>
              
            <div class="row gx-5 align-items-center">
              <div class="col-auto">
                <i class="far fa-clock"></i>
                {{task.deadline_date|date:"d-m-Y"}}
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="row mt-2">
              <div class="col-auto px-1 ml-auto">
                <form action="{% url 'task:task-edit' task.id %}" method='get'>
                      <button type="submit" class="submit-button-edit" title="Edytuj">
                      <i class="fa fa-edit"></i>
                    </button>
                  </form>
              </div>
              <div class="col-auto px-1 ml-3 ">
                <form action="{% url 'task:task-update-status' task.id %}" method='post'>
                  {% csrf_token %}
                    <button type="submit" class="submit-button-done" title="Zakończ">
                      <i class="fa fa-check "></i>
                    </button>
                  </form>
              </div>
            </div>
            
          </div>
        </div>
      {%endif%}
      {% endfor %}
    </div>
  </div>
      

  {%else%}
  <div class="row p-2 justify-content-center border-bottom">
    <div class="col-auto text-secondary">
      <h5>Wygląda na to, że wszystko jest zrobione ;)</h5>
    </div>
  </div>
  
  {%endif%}

<div class="row mb-3 mt-5">
  <div class="col-auto border-bottom border-dark">
    <h4>Historia</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Tytuł</th>
        <th>Opis</th>
        <th>Dodane</th>
        <th>Instruktor</th>
        <th>
        <i class="fa fa-coins text-warning"></i>
        Hajs</th>
        <th>
        <i class="far fa-clock"></i>
        Do kiedy</th>
        <th>Zrobione</th>
      </tr>
      </thead>
      <tbody>
        {%for task in tasks_completed%}
        <tr>
        <td>{{task.id}}</td>
          <td>
            <a class="task-link" href="{% url 'task:task-detail' task.id %}">
            {{task.title}}
            </a>
          </td>
          <td>{{task.description}}</td>
          <td>{{task.created_date|date:"d-m-Y"}}</td>
          <td>{%for instr in task.instructor.all%}
            {{instr}}<br>
            {%endfor%}
          </td>
          <td>{{task.value}}</td>
          <td>{{task.deadline_date|date:"d-m-Y"}}</td>
          <td>
          {%if task.completed_flag%}
          <i class="fa fa-check text-success"></i>
          {%else%}
          <i class="fa fa-times text-danger"></i>
          {%endif%}
          {{task.completed_date|date:"d-m-Y"|default_if_none:"--"}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

  
</div>


{% endblock sub_content %}
