{% extends 'instructor/instructor_home.html'%}
{% load static %}

{% block extra_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/task_list.css' %}">
{% endblock extra_css %}

{% block sub_content %}

<div class="row mb-3 border-bottom border-grey">
  <div class="col-auto">
    <h3>Zadania</h3>
  </div>
  <div class="col-auto">
    <div>
    <a href="{% url 'task:task-create' %}">
      <button class="btn btn-sm btn-success">
      <i class="fa fa-plus"></i> Dodaj zadanie</button>
    </a>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-auto border-bottom border-dark">
    <h4>Dzisiaj</h4>
  </div>
</div>
  {%if current_date in tasks_dates%}
  <div class="row">
    
    <div class="col-6 border-right border-dark">
      <div class="row mb-2 ">
        <div class="col task-planned">
          Zaplanowane
        </div>
      </div>
        {% for task in tasks %}
        {%if task.deadline_date == current_date and task.completed_flag == False %}
          <div class="row task-item mb-2 mr-1 p-2 border border-grey rounded shadow-sm">
            <div class="col px-1">
              {%for instr in task.instructor.all%}
              <strong>{{instr}}</strong><br>
              {%endfor%}
            </div>
            <div class="col task-desc">
              <strong>{{task.title}}</strong><br>
              {{task.description}}
            </div>
            <div class="col-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div>
                    <i class="fas fa-coins mr-2 coin"></i>
                    {{task.value}}
                  </div>
                </div>
                <div class="col-auto p-0 ml-auto">
                  <button type="button" class="btn btn-sm btn-success">
                    <i class="fa fa-sm fa-check fa-xs"></i>
                  </button>
                </div>
              </div>
                
              <div class="row">
                <div class="col-auto">
                  <i class="far fa-clock"></i>
                  {{task.deadline_date}}
                </div>
                <div class="col-auto p-0 ml-auto">
                  <button type="button" class="btn btn-sm btn-warning">
                    <i class="fa fa-sm fa-edit fa-xs"></i>
                  </button>
                </div>
              </div>
              
            </div>
          </div>
        {%endif%}
        {% endfor %}
      </div>
    
    
    <div class="col-6 border-left border-dark">
      <div class="row mb-2 ">
        <div class="col task-finished">
          Zakończone
        </div>
      </div>
        {% for task in tasks %}
        {%if task.deadline_date == current_date and task.completed_flag == True %}
          <div class="row task-item mb-2 ml-1 p-2 border border-grey rounded shadow-sm">
            <div class="col-auto">
              {%for instr in task.instructor.all%}
              <strong>{{instr}}</strong><br>
              {%endfor%}
            </div>
            <div class="col task-desc">
              <strong>{{task.title}}</strong><br>
              {{task.description}}
            </div>
            <div class="col-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div>
                    <i class="fas fa-coins mr-2 coin"></i>
                    {{task.value}}
                  </div>
                </div>
                <div class="col-auto p-0 ml-auto">
                  <button type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-sm fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <i class="far fa-clock"></i>
                  {{task.deadline_date}}
                </div>
              </div>
              
            </div>
          </div>
        {%endif%}
      {% endfor %}
    </div>
    
    <div class="col">
    
    </div>
  </div>
      

  {%else%}
    Brak zadań na dziś
  {%endif%}

    
  <div class="col">
    columna

  </div>
</div>


{% endblock sub_content %}

{% comment %} NESTED TABLE EXAMPLE {% endcomment %}
  {%if current_date in tasks_dates%}
    <table class="table table-sm">
        <thead>
          <tr>
          <th scope="col">Zaplanowane</th>
          <th scope="col">Zakończone</th>
          </tr>
        </thead>
        <tbody>

        <tr>
        <td colspan="1">
          <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Opis</th>
              <th>Osoby</th>
              <th>Wartość</th>
              <th>Deadline</th>
            </tr>
          </thead>
            <tbody>
            {% for task in tasks %}
              {%if task.deadline_date == current_date%}
              <tr>
                <td>
                  {{task.title}}<br>
                  {{task.description}}
                </td>
                <td>
                {%for instr in task.instructor.all%}
                  {{instr}}
                {%endfor%}
                </td>
                <td>
                  {{task.value}}
                </td>
                <td>
                  {{task.deadline_date}}
                </td>
              </tr>
              {%endif%}
            {% endfor %}
            </tbody>
          </table>
        </td>
        </tr>


        </tbody>
      </table>
  {%else%}
    Brak zadań na dziś
  {%endif%}


  {% comment %} TABLE {% endcomment %}

    {%if current_date in tasks_dates%}
    <table class="table table-sm">
        <thead>
          <tr>
          <th scope="col" style="width: 50%">Zaplanowane</th>
          <th scope="col" style="width: 50%">Zakończone</th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
          {%if task.deadline_date == current_date%}
          <tr>
            <td class="shadow-sm">
              <div class="col-auto task-item">
              <strong>{{task.title}}</strong>
              </div>
              <div>{{task.description}}</div>

            </td>
          </tr>
          {%endif%}
        {% endfor %}
        </tbody>
      </table>
  {%else%}
    Brak zadań na dziś
  {%endif%}