{% extends 'base.html'%}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <div>
      <a href="{% url 'task:task-create' %}">
        <button class="btn btn-sm btn-success">Dodaj zadanie</button>
      </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    {%for task in tasks%}
    {{task.title}}
    {%for instr in task.instructor.all%}
    {{instr}}
    {%endfor%}
    {%endfor%}
    </div>
  </div>
</div>

{% endblock content %}