{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/rental_list.css'%}">
{% endblock extra_css %}


<div class="container-fluid">
  <div class="row mt-3 mb-5">
    <div class="col-6 rentals-master-col mr-auto ml-2">
      
      <div class="row rentals-title">
        <div class="col-auto">
          <h4>Rentale</h4>
        </div>
      </div>

      {% if rentals_list %}
      {% for rental in rentals_list%}
      <div class="row rental-list-item">

        <div class="col-4 rental-table-each-column">

          <div class="row">
            <div class="col-auto rental-student-name">
              <a href="{% url 'student:student-detail' rental.student.id %}">{{rental.student}}</a>
            </div>
          </div>

        </div>

        <div class="col-auto rental-table-each-column">

          <div class="row">
            <div class="col-auto">
              <i class="fa fa-sm fa-circle text-success"></i>
              {{rental.start_date|date:"d-m-Y H:i"|default:"?-?-?"}}
            </div>
          </div>
        
          <div class="row">
            <div class="col-auto">
              <i class="fa fa-sm fa-circle text-danger"></i>
              {{rental.end_date|date:"d-m-Y H:i"|default:"?-?-?"}}
            </div>
          </div>
        
        </div>

        <div class="col rental-table-each-column">

          <div class="row">
            <div class="col">
              {% for rent_detail in rental.rentaldetail_set.all%}
              <div class="row rental-items">
                <div class="col-auto">
                  <b>{{rent_detail.get_rent_item_display}}</b>
                </div>
                <div class="col">
                  {{rent_detail.description}}
                </div>
                <div class="col-auto">
                  x{{rent_detail.quantity}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        
        </div>

        <div class="col-auto">
          <div class="row">
            <div class="col-auto rental-settings-col">
              <i class="fa fa-cog rental-settings-icon"></i>

              <div class="rental-settings-menu"
                id="settings_menu_{{rental.id}}" hidden="true">

                <div class="rental-edit-menu-item rental-settings-menu-item">
                  <a class="rental-edit-link" href="{% url 'rental:rental-detail' rental.id %}">
                    <i class="no-decoration fa fa-edit fa-sm"></i>
                    <span class="no-decoration">Edytuj</span>
                  </a>                                    
                </div>

                {% if not rental.paid %}
                <hr>
                <div class="lesson-in-progress-menu-item lesson-settings-menu-item">
                  <button class="btn_rmv_stl rental-complete-btn-js" type="button"  data-toggle="modal"
                    data-target="#complete_rental_modal_{{rental.id}}">
                    <i class="fas fa-dollar-sign"></i>
                    Rozlicz
                  </button>
                </div>
                {% endif %} 

                {% comment %} <hr> {% endcomment %}

              </div>
              

            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              {% if rental.paid%}
                <i class="fa fa-coins text-success" title="Zapłacony"></i>
              {% else %}
                <i class="fa fa-coins text-danger" title="Niezapłacony"></i>
              {% endif %}
            </div>
          </div>        
        </div>

        {% comment %} Rental settings modals {% endcomment %}
        {%include 'rental/rental_modals.html' with rental=rental %}
      
      </div>
      {% endfor %}
      {% else %}
      <div class="row mt-3">
        <div class="col">
          <h5><i>Nikt nic nie rentuje</i></h5>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

<script src="{% static 'js/rental_settings.js' %}"></script>
<script src="{% static 'js/rental_complete_calc_sum.js' %}"></script>


