{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitescontrol School</title>
    <link rel="stylesheet" href="{%  static 'main/base.css' %}">
</head>
<body>

<div id='navigation'>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-link" href="{% url 'student:student-list' %}">Students</a>
        </li>
    </ul>
</div>

{% block content %}

{% endblock content %}

    

</body>
</html>