.delete-icon{
    color: tomato;
}

.search-tile{
    background-color: #b5e1e7;
    border-radius: 5px;
    box-shadow:1px 1px 6px 1px #b7bfc4;
    padding: 5px;
}

.text-field{
    border-radius: 3px;
    border: 1px #636363 solid;
}

.button-col{
    align-self: flex-end;
}

.icon-true{
    color: green;
}
.icon-false{
    color: rgb(177, 0, 0);
}