
.form-background{
    background-color: #eef8ff;
    border-radius: 5px;
    box-shadow:1px 1px 6px 1px #c5d1d8;
}

.section{
    font-size: .9em;
}

.form-section-title{
    background-color: #a9d5f5c4;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px #839caf;
}

.form-student-details-section{
    background-color: #caddecc4;
    border-radius: 5px;
    box-shadow: 3px 0px 7px 0px #92999d;
}

.form-stay-details-section{
    border-radius: 5px;
    box-shadow: 3px 0px 7px 0px #c5d1d8;

}
.required{
    font-weight: bold;
}

.submit-btn{
    width: 5.5rem;
}
