{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/instructor_create.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
  <form method='POST'>
    {% csrf_token %}
    <div class="row mt-3 form-box">
      <div class="col">
        <div class="col section form-instructor-details-section">
          <div class="row form-section-title">
            <div>Dane Kontaktowe</div>
          </div>

          {% comment %} STUDENT DETAILS INFO {% endcomment %}
          <div class="row mt-3 justify-content-between align-items-start">
            <div class="col-4 required">
              <label for="name">Imię:</label>
            </div>
            <div class="col align-self-end">
              {{form.name}}
              <p class="error-text small">{{form.name.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-4 required">
              <label for="surname">Nazwisko:</label>
            </div>
            <div class="col">
              {{form.surname}}
              <p class="error-text small">{{form.surname.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-4 required">
              <label for="birth_date">Data urodzenia:</label>
            </div>
            <div class="col">
              {{form.birth_date}}
              <p class="error-text small">{{form.birth_date.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-4 required">
              <label for="email_address">E-mail:</label>
            </div>
            <div class="col">
              {{form.email_address}}
              <p class="error-text small">{{form.email_address.errors|striptags }}</p>
            </div>
          </div>          

          <div class="row justify-content-between align-items-start">
            <div class="col-4">
              <label for="weight">Waga:</label>
            </div>
            <div class="col">
              {{form.weight}}
              <p class="error-text small">{{form.weight.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-4 pr-0">
              <label for="mobile_number">Nr telefonu:</label>
            </div>
            <div class="col">
              {{form.mobile_number}}
              {% if form.mobile_number.help_text %}
              <p class="help small">{{ form.mobile_number.help_text|safe }}</p>
              {% endif %}
              <p class="error-text small">{{form.mobile_number.errors|striptags }}</p>
            </div>
          </div>          

          <div class="row justify-content-between align-items-start">
            <div class="col-4">
              <label for="email_address">Poziom IKO:</label>
            </div>
            <div class="col">
              {{form.iko_level}}
              <p class="error-text small">{{form.iko_level.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-4">
              <label for="email_address">Numer IKO:</label>
            </div>
            <div class="col">
              {{form.iko_id}}
              <p class="error-text small">{{form.iko_id.errors|striptags }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        {% comment %} STAY INFO {% endcomment %}
        <div class="col section form-stay-details-section">
          <div class="row form-section-title">
            <div>Dostępność</div>
          </div>

          <div class="row mt-3 justify-content-between align-items-start">
            <div class="col-4">
              <label for="name">Data przyjazdu:</label>
            </div>
            <div class="col">
              {{form.available_from}}
              <p class="error-text small">{{form.available_from.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-4">
              <label for="name">Data odjazdu:</label>
            </div>
            <div class="col">
              {{form.available_to}}
              <p class="error-text small">{{form.available_to.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-6">
              <label for="email_address">Prawo jazdy:</label>
            </div>
            <div class="col">
              {{form.driving_licence}}
              <p class="error-text small">{{form.driving_licence.errors|striptags }}</p>
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-6">
              <label for="name">Lekcje po angielsku:</label>
            </div>
            <div class="col">
              {{form.english_lessons}}
            </div>
          </div>
          
          <div class="row justify-content-between align-items-start">
            <div class="col-6">
              <label for="name">Lekcje z dziećmi:</label>
            </div>
            <div class="col">
              {{form.kids_lessons}}
            </div>
          </div>

          <div class="row justify-content-between align-items-start">
            <div class="col-6">
              <label for="name">Lekcje grupowe:</label>
            </div>
            <div class="col">
              {{form.group_lessons}}
            </div>
          </div>

          <div class="row input-group">
            <div class="col-4">
              <label for="name">Stawka godzinowa:</label>
            </div>
            <div class="col-3">
              {{form.pay_rate_single}}
            </div>
          </div>

          <div class="row input-group">
            <div class="col-4">
              <label for="name">Stawka grupowa:</label>
            </div>
            <div class="col-3">
              {{form.pay_rate_group}}
            </div>
          </div>

          <div class="row input-group">
            <div class="col-4">
              <label for="name">Dzienny limit godzin:</label>
            </div>
            <div class="col-3">
              {{form.daily_hour_limit}}
            </div>
          </div>           
        </div>
      </div>
      
    </div>

    <div class="row mt-3">
      <div class="col-2">
        <a href="{% url 'instructor:instructor-list' %}">
          <button class="btn btn-warning" type="button">
            <i class="fas fa-undo-alt"></i>
            Powrót
          </button>
        </a>
      </div>
      <div class="col-1">
        <button class="btn btn-success submit-btn" type="submit">
          <i class="fas fa-plus"></i>
          Dodaj
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}