{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'student/css/student_list.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-1">
            <a class="back-link" href="{% url 'dashboard:dashboard-home' %}"><b> Back</b></a>
        </div>         

        <div class="col">
            <a href="{% url 'student:student-create' %}">    
                <button type="button" class="btn btn-success">
                        <i class="fas fa-user-plus mr-1"></i>
                        Dodaj Kursanta
                </button>
            </a>
        </div>

        <div class="col">
            <div>Szukaj kursanta</div>

        </div>

    </div>

    <div class="row justify-content-md-center mt-5">
        <div class="col-8">
            <table class="table table-sm">
            <thead>
                <tr>
                <th scope="col" title="Number">#</th>
                <th scope="col" title="Name">Kursant</th>
                <th scope="col" title="Weight">Waga</th>
                <th scope="col" title="birthDate">Data urodzenia</th>
                <th scope="col" title="mobileNumber">Telefon</th>
                <th scope="col" title="ikoLevel">Poziom IKO</th>
                <th scope="col" title="actions">Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                <th scope="col">{{forloop.counter}}</td>
                <td>
                    <a href="{{ student.get_absolute_url }}">{{student}}</a> 
                </td>
                <td>
                    {{student.weight}}
                </td>
                <td>
                    {{student.birth_date}}
                </td>
                <td>
                    {{student.mobile_number}}
                </td>
                <td>
                </td>
                <td>
                    <a href="{% url 'student:student-delete' student.id  %}" method="GET">
                            <i class="fas fa-times delete-icon"></i>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

