{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'student/css/student_list.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-2">       

        <div class="col-auto">
            <a href="{% url 'student:student-create' %}">    
                <button type="button" class="btn btn-success">
                        <i class="fas fa-user-plus mr-1"></i>
                        Dodaj Kursanta
                </button>
            </a>
        </div>

        <div class="col-auto">
            <div class="row search-tile">
            
                <div class="col-auto">

                    <div class="row mb-3 justify-content-center">
                        <form type="GET" action="{% url 'student:student-search' %}">
                        <b>Szukaj kursanta</b>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-auto ">
                            <label for="s_name">Imię lub nazwisko:</label>
                        </div>
                        <div class="col-auto">
                            <input class="text-field" type="text" name="s_name" value="{{student_name_user_input}}">
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-auto ">
                            <label for="s_mobile">Nr telefonu:</label>
                        </div>
                        <div class="col-auto">
                            <input class="text-field" type="text" name="s_mobile" value="{{mobile_num_user_input}}">
                        </div>
                    </div>
                </div>
            
                <div class="col-auto">
                    <div class="flex-row align-self-start">
                        <button type="button" class="btn btn-outline-danger">Reset</button>
                    </div>
                    <div class="flex-row align-self-end mt-4">
                        <button type="submit" class="btn btn-info">Szukaj</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        </div>


    </div>
{% if student_list %}
    <div class="row justify-content-md-center mt-5">
        <div class="col-8">
            <table class="table table-sm">
            <thead>
                <tr>
                <th scope="col" title="Number">#</th>
                <th scope="col" title="Name">Kursant</th>
                <th scope="col" title="Weight">Waga</th>
                <th scope="col" title="birthDate">Data urodzenia</th>
                <th scope="col" title="mobileNumber">Telefon</th>
                <th scope="col" title="ikoLevel">Poziom IKO</th>
                <th scope="col" title="actions">Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}
                <tr>
                <th scope="col">{{forloop.counter}}</td>
                <td>
                    <a href="{{ student.get_absolute_url }}">{{student}}</a> 
                </td>
                <td>
                    {{student.weight}}
                </td>
                <td>
                    {{student.birth_date}}
                </td>
                <td>
                    {{student.mobile_number}}
                </td>
                <td>
                </td>
                <td>
                    <a href="{% url 'student:student-delete' student.id  %}" method="GET">
                            <i class="fas fa-times delete-icon"></i>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endif %}
{{ query }}
{% if student_search %}
    {% for stud in student_search %}
        {{ stud.birth_date }}
    {% endfor %}
{% endif %}
</div>
{% endblock content %}

