{% extends 'base.html' %}
{% load static %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static 'student/css/student_detail.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container-fluid mt-3">

  <div class="row">
    <div class="col-auto">
      <a href=
      {% if view.editMode %}
        "{{request.META.HTTP_REFERER|escape}}" 
        {% elif not view.editMode and 'student' not in request.META.HTTP_REFERER %} 
          "{{request.META.HTTP_REFERER|escape}}"
        {% else %}
        "{% url 'student:student-list' %}"         
      {% endif %}>
        <button class="btn btn-sm btn-warning">
          <i class="fas fa-undo-alt"></i>
          Powrót
        </button>
      </a>
    </div>
    <div class="col-auto">
      <a href={% if view.editMode %} "#" {% else %} "{% url 'student:student-detail-edit' student.id %}" {% endif %}>
        <button class="btn btn-sm btn-info hidden" {% if view.editMode %}hidden{%endif%}>
          <i class="far fa-edit"></i>
          Edytuj
        </button>
      </a>
    </div>
    <div class="col-auto ml-5">
      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal"
        {% if view.editMode %}hidden{%endif%}>
        <i class="fa fa-times"></i>
        Usuń
      </button>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Usuwasz</h5>
          <h5 class="modal-title ml-2"> {{student.name}} {{student.surname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy na pewno chcesz usunąć tego kursanta ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Powrót</button>
          <form method="POST" action="{% url 'student:student-delete' student.id %}">
            {% csrf_token %}<input class="btn btn-danger" type="submit" value="Usuń">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if not view.editMode %}
  <div class="row mt-4">
    <div class="col">
      <dl class="row">

        <dt class="col-5 col-sm-3 col-lg-2">Imię i nazwisko:</dt>
        <dd class="col-auto">{{student.name}} {{student.surname}}</dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Data urodzenia:</dt>
        <dd class="col-auto">
          <span>{{student.birth_date}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Nr telefonu:</dt>
        <dd class="col-auto">
          <span>{{student.mobile_number|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Waga:</dt>
        <dd class="col-auto">
          <span>{{student.weight|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">E-mail:
          <hr />
        </dt>
        <dd class="col-auto">
          <span>{{student.email_address|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Data przyjazdu:</dt>
        <dd class="col-auto">
          <span>{{student.arrival_date|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Data odjazdu:</dt>
        <dd class="col-auto">
          <span>{{student.leave_date|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Miejsce pobytu:</dt>
        <dd class="col-auto">
          <span>{{student.stay_location|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Samochód:</dt>
        <dd class="col-auto">
          {% if student.own_car %}
          <i class="fas fa-check icon-true"></i>
          {%else%}
          <i class="fas fa-times icon-false"></i>
          {%endif%}
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Wyjazdy:
        </dt>
        <dd class="col-auto">
          {% if student.kite_elsewhere %}
          <i class="fas fa-check icon-true"></i>
          {%else%}
          <i class="fas fa-times icon-false"></i>
          {%endif%}
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Stawka indywidualna:
        </dt>
        <dd class="col-auto">
          <span>{{student.pay_rate_single|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Stawka grupowa:
          <hr />
        </dt>
        <dd class="col-auto">
          <span>{{student.pay_rate_group|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Rozmiar pianki:</dt>
        <dd class="col-auto">
          <span>{{student.wetsuit_size|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Rozmiar trapezu:</dt>
        <dd class="col-auto">
          <span>{{student.harness_size|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Numer IKO:</dt>
        <dd class="col-auto">
          <span>{{student.iko_id|default_if_none:"--"}}</span>
        </dd>
        <div class="w-100"></div>

        <dt class="col-5 col-sm-3 col-lg-2">Poziom IKO:</dt>
        <dd class="col-auto">
          <span>{{student.iko_level|default_if_none:"--"}}</span>
        </dd>
      </dl>
    </div>
  </div>
  {% comment %} If in Edit Mode {% endcomment %}
  {% else %}
  <form method="post">
    {% csrf_token %}
    <div class="row mt-4">

      <div class="col-auto">
        <div class="row mb-2">
          <div class="col">
            <label class="d-flex" for="name">Imię:</label>
          </div>
          <div class="col-auto">
            {{form.name}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="surname">Nazwisko:</label>
          </div>
          <div class="col-auto">
            {{form.surname}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="birth_date">Data urodzenia:</label>
          </div>
          <div class="col-auto">
            {{form.birth_date}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="mobile_number">Nr telefonu:</label>
          </div>
          <div class="col-auto">
            {{form.mobile_number}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="weight">Waga:</label>
          </div>
          <div class="col-auto">
            {{form.weight}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="email_address">E-mail:</label>
          </div>
          <div class="col-auto">
            {{form.email_address}}
          </div>
        </div>
        <hr />
        {% comment %} HR {% endcomment %}

        <div class="row mb-2">
          <div class="col">
            <label for="arrival_date">Data przyjazdu:</label>
          </div>
          <div class="col-auto">
            {{form.arrival_date}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="leave_date">Data odjazdju:</label>
          </div>
          <div class="col-auto">
            {{form.leave_date}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="stay_location">Miejsce pobytu:</label>
          </div>
          <div class="col-auto">
            {{form.stay_location}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="own_car">Samochód:</label>
          </div>
          <div class="col-auto">
            {{form.own_car}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="kite_elsewhere">Wyjazdy:</label>
          </div>
          <div class="col-auto">
            {{form.kite_elsewhere}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="kite_elsewhere">Stawka indywidualna:</label>
          </div>
          <div class="col-auto">
            {{form.pay_rate_single}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="kite_elsewhere">Stawka grupowa:</label>
          </div>
          <div class="col-auto">
            {{form.pay_rate_group}}
          </div>
        </div>
        <hr />

        <div class="row mb-2">
          <div class="col">
            <label for="wetsuit_size">Rozmiar pianki:</label>
          </div>
          <div class="col-auto">
            {{form.wetsuit_size}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="harness_size">Rozmiar trapezu:</label>
          </div>
          <div class="col-auto">
            {{form.harness_size}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="iko_id">Numer IKO:</label>
          </div>
          <div class="col">
            {{form.iko_id}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="iko_level">Poziom IKO:</label>
          </div>
          <div class="col">
            {{form.iko_level}}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-success submit-btn" type="submit">
              Zapisz
            </button>
          </div>
        </div>
      </div>

    </div>

</div>
</form>
{% endif %}
</div>
{% endblock content %}