
.master-container{
  box-shadow: 1px 1px 5px 2px #cecece;\
}
.bold{
  font-weight: bold;
}
.text-green{
  color: green;
}

.summary-lesson-tile{
  box-shadow: 1px 1px 4px 1px #c5d1d8;
}
.summary-tile-title{
  text-align: center;
  font-size: 1.15rem;
}
.shadow-bot{
  box-shadow: 0px 1px 0px goldenrod;
}
.summary-lesson-count{
  display: grid;
  align-content: center;
}

.tile-sum-label{
  text-align: center;
  font-size: 1.1rem;
}
.lesson-sum-val{
  text-align: center;
  font-size: 1.8rem;
}

.space-between{
  place-content: space-between;
}

.profit{
  text-align: center;
  font-size: 2rem;
  color: green;
}


/* DETAILS */

.summary-detail-master{
  height: 100vh;
}

.summary-detail-instr-div{
  padding: .4rem;
  box-shadow: 1px 1px 4px 1px #c5d1d8;
  margin: 0;
}

.det-lesson{
  padding: .2rem;
  margin-bottom: .2rem;
  box-shadow: inset 0px 0px 10px 1px #c1c1c166;
  border-bottom: 1px solid gray;
  border-radius: .5rem;
}
.det-lesson:hover{
  background-color: gainsboro;
}
.det-lesson-no{
  display: flex;
  flex-direction: row;
  place-content: space-between;
}

.lesson-price-value{
  color: #48a718;
  font-weight: bold;
}

.instr-summary-row{
  padding: .2rem;
  margin-bottom: .2rem;
  box-shadow: inset 0px 0px 10px 2px #b97e0073;
  border: 1px solid gray;
  border-radius: .5rem;
}
.instr-summary-row:hover{
  background-color: #f3d29adc;
}
.instr-summary-detail-sum{
  text-align: end;
}

.text-align-end{
  text-align: center;
}