{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static '/css/instructor_home.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container-fluid">
  <div class="row mt-3">

    <div class="flex-column">
      <div class="div">
        <a class="elo" href="{% url 'instructor:instructor-list' %}">
          <div class="instr-nav-crew m-2 p-2 border border-primary rounded d-flex align-items-center justify-content-between">
            <i class="fas fa-users fa-lg mr-1"></i>
            <strong class="ml-1">Ekipa</strong>
          </div>
        </a>
      </div>
      
      <div class="div">
        <a href="{% url 'task:task-list' %}">
        <div class="instr-nav-tasks m-2 p-2 border border-success rounded d-flex align-items-center justify-content-between">
        <i class="fas fa-tasks fa-lg mr-1"></i>
        <strong class="ml-1">Zadania</strong>
        </div>
        </a>
      </div>
      
      <div class="instr-nav-pay m-2 p-2 border border-warning rounded d-flex align-items-center justify-content-between">
        <i class="fas fa-dollar-sign fa-lg"></i>
        <strong>Wypłaty</strong>
      </div>
      <div class="instr-nav-stats m-2 p-2 border border-secondary rounded d-flex align-items-center justify-content-between">
        <i class="fas fa-chart-bar fa-lg mr-1"></i>
        <strong class="ml-1">Statystyki</strong>
      </div>
    </div>

  </div>
</div>
{% endblock content %}