{% extends 'instructor/instructor_home.html'%}
{% load static %}

{% block extra_css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static '/css/instructor_list.css' %}">
{% endblock extra_css %}

{% block sub_content %}
  <div class="row mb-3 border-bottom border-grey">
    <div class="col">
      <h3>Ekipa</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="{% url 'instructor:instructor-create' %}">
        <button type="button" class="btn btn-sm btn-success sm">
          <i class="fas fa-user-plus mr-1"></i>
          Dodaj instruktora
        </button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">  
      <div class="row">
        {%for instr in instructor_list%}
        
          <div class="instr-tile border rounded shadow-sm mx-3 p-2 mt-3">
            <a href="{% url 'instructor:instructor-detail' instr.id %}">
              <span class="instr-name"><strong>{{instr}}</strong></span>
            </a>
            <div class="d-flex justify-content-center">
              <span class="instr-rank rounded px-1">{{instr.iko_level}}</span>
            </div>
            <div> 
              <span>Tel.</span>
              {{instr.mobile_number}}
            </div>
          </div>

        {%endfor%}
      </div>
    </div>
  </div>

{% endblock sub_content %}