{% extends 'base.html' %}


{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<div class="container mb-3">
  <div class="row mt-3">
    <div class="col">
      <h3>Nowości</h3>
    </div>
  </div>

  <div class="row my-4">    
    <div class="col-3" style="border-right: 1px solid gray;">
      <span><h5 style="text-align: center;">Lekcje</h5></span>
      <ul>
        <li>Rozdzielanie lekcji grupowych</li>
        <li>Rozliczanie zakończonych lekcji</li>
      </ul>
    </div>
    <div class="col-3" style="border-right: 1px solid gray;">
      <span><h5 style="text-align: center;">Renty</h5></span>
      <ul>
        <li>Dodawanie, edycja i usuwanie</li>
        <li>Wyświetlanie na grafiku</li>
        <li>Rozliczanie rentów</li>
        <li>Uwzględnienie rentów w podsumowaniu dnia</li>
      </ul>
    </div>
    <div class="col-3" >
      <span><h5 style="text-align: center;">Instruktorzy</h5></span>
      <ul>
        <li>Wypłaty - oblicz za dowolny okres</li>
      </ul>
    </div>
  </div>

</div>


<script id="wg_fwdg_500757_21_1617753651577">
(function (window, document) {
  var loader = function () {
    var arg = ["s=500757" ,"m=21","uid=wg_fwdg_500757_21_1617753651577" ,"wj=knots" ,"tj=c" ,"waj=m" ,"odh=0" ,"doh=24" ,"fhours=180" ,"hrsm=2" ,"vt=forecasts" ,"lng=pl" ,"p=WINDSPD,GUST,MWINDSPD,SMER,TMP,APCP1s,CDC"];
    var script = document.createElement("script");
    var tag = document.getElementsByTagName("script")[0];
    script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));
    tag.parentNode.insertBefore(script, tag);
  };
  window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
})(window, document);
</script>

<script id="wg_fwdg_500757_3_1617753370740">
(function (window, document) {
  var loader = function () {
    var arg = ["s=500757" ,"m=3","uid=wg_fwdg_500757_3_1617753370740" ,"wj=knots" ,"tj=c" ,"waj=m" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=3" ,"vt=forecasts" ,"lng=pl" ,"p=WINDSPD,GUST,MWINDSPD,SMER,TMPE,APCP1s,CDC"];
    var script = document.createElement("script");
    var tag = document.getElementsByTagName("script")[0];
    script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));
    tag.parentNode.insertBefore(script, tag);
  };
  window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
})(window, document);
</script>


{% comment %} http://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2021040618&row=318&col=213&lang=pl {% endcomment %}




{% endblock content %}