{%extends 'base.html'%}
{%load static%}
{% load filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lesson_summary.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container master-container">
  <div class="row">

    <div class="container mt-4">
      <div class="row">
        <div class="col-auto">
          <h3>Podsumowanie dnia</h3>
        </div>
        <div class="col summary-date-div">
          <div>
            <a href="{% url 'lesson:lesson_summary:lesson-summary' %}{{previous_date|date:"d-m-Y"}}">
              <i class="fas fa-lg fa-chevron-left"></i>
            </a>
          </div>
          <div>
            <h3>{{current_date|date:"d-m-Y"}}</h3>
          </div>
          <div>
            <a href="{% url 'lesson:lesson_summary:lesson-summary' %}{{next_date|date:"d-m-Y"}}">
              <i class="fas fa-lg fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="col show-other-summary-btn">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#searchSummary">
            <i class="fas fa-sm fa-search"></i>
            Pokaż inne
          </button> 
        </div>
      </div>
    </div>

    {% comment %} SEARCH OTHER SUMM MODAL {% endcomment %}
    <div class="modal fade" id="searchSummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Pokaż inne podsumowanie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-auto">
                Data:
              </div>
              <div class="col-auto">
                <form method="GET" action="{% url 'lesson:lesson_summary:lesson-summary-show'  %}">
                <input type="date" name="summary_date">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Powrót</button>
            <input class="btn btn-info" type="submit" value="Pokaż">
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="row justify-content-around">
        <div class="col-4">
          <div class="row summary-lesson-tile justify-content-around p-2">
            <div class="col">
              <div class="summary-tile-title bold shadow-bot">
                LEKCJE
              </div>
              <div class="d-flex space-between mt-3">
                <div>Indywidualne:</div>
                <div>{{single_lessons_count}}</div>
              </div>
              <div class="d-flex space-between">
                <div>Grupowe:</div>
                <div>{{group_lessons_count}}</div>
              </div>
            </div>
            <div class="col summary-lesson-count">
              <div class="tile-sum-label">Łącznie:</div>
              <div class="lesson-sum-val mt-1">{{lessons_count}}</div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row summary-lesson-tile justify-content-around p-2">
            <div class="col">
              <div class="summary-tile-title bold shadow-bot">
                INFO
              </div>
              <div class="d-flex space-between mt-3">
                <div>Zakończonych:</div>
                <div class="{%if completed_count == lessons_count %} text-green {%else%} text-danger bold {%endif%}">
                  {{completed_count}} / {{lessons_count}} lekcji
                </div>
              </div>
              <div class="d-flex space-between">
                <div>Suma godzin:</div>
                <div>{{duration_sum.sum|default_if_none:"0"}} godzin</div>
              </div>
            </div>        
          </div>
        </div>
        <div class="col-3">
          <div class="row summary-lesson-tile justify-content-around p-2">
            <div class="col">
              <div class="summary-tile-title bold shadow-bot">
                WPŁYWY
              </div>
              <div class="mt-2">
                <div>
                  <span class="profit-label">Lekcje</span>
                  <span class="profit">{{profit.total_profit|default_if_none:"0.00"}} zł</span>
                </div>
              </div>
              <div class="mt-2">
                <div>
                  <span class="profit-label">Renty</span>
                  <span class="profit">{{rentals.total_profit.sum|default_if_none:"0.00"}} zł</span>
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-3 rentals-summary-tile">
          <div class="row summary-lesson-tile justify-content-around p-2">
            <div class="col">
              <div class="summary-tile-title bold shadow-bot">
                RENTY
              </div>
              {% comment %} <div class="d-flex space-between mt-3">
                <div>Kończą się tego dnia:</div>
                <div class="">
                  {{rentals.count.ends_today}}
                </div>
              </div> {% endcomment %}
              <div class="d-flex space-between mt-3">
                <div>Rozliczone:</div>
                <div class="{% if rentals.count.paid == rentals.count.ends_today%}text-success{%else%}text-danger{%endif%}">
                  {{rentals.count.paid}} / {{rentals.count.ends_today}}
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>      
    </div>

    <div class="container my-4">
      <a class="show-details" id="show_collapse_parent" >
        <div>Szczegóły <i class="fas fa-chevron-down"></i></div>
      </a>
    </div>

    <div class="container mt-2 summary-detail-master collapse summary_details" id="collapseExample">
      <div class="row mb-3">
        <div class="col-2 detail-section-lesson-title">
          <h4>Lekcje</h4>
        </div>  
      </div>
      {% for instructor in instructors_with_lessons %}
        <div class="row mb-4 summary-detail-instr-div">
          
          <div class="col-2 align-self-center">
            <div class="row">
              <div class="col bold">
                {{instructor}}
              </div>
            </div>
          </div>

          <div class="col-10 det-instr-lessons">
            {% if instructor.lessons.all.count == 0 %}
              <i>brak lekcji w tym dniu</i>
            {% else %}           
              {% for lesson in instructor.lessons.all %}
                <div class="row det-lesson">

                  <div class="col-2 det-lesson-no">
                    <div>{{ forloop.counter }}</div>
                    <div>{{lesson.start_time|time:'H:i'}}</div>
                  </div>

                  <div class="col-1 px-1 det-lesson-duration">
                    <span>{{lesson.duration}}<span> h
                  </div>

                  <div class="col">
                    {% if lesson.lessondetail_set.all.count == 0 %}
                      <i>lekcja w trakcie</i>
                    {% else %}
                      {% for lesson_detail in lesson.lessondetail_set.all%}
                        <div class="row">
                          <div class="col-5">
                            <a href="{{ lesson_detail.student.get_absolute_url }}">{{lesson_detail.student}}</a>
                          </div>
                          <div class="col-auto">
                            {% if lesson.duration != lesson_detail.duration %}
                              <span class="text-danger">{{lesson_detail.duration}}</span> h
                            {% else %}
                              <span class="text-success">{{lesson_detail.duration}}</span> h
                            {% endif %}                    
                          </div>
                          <div class="col">
                            {% if lesson.group_lesson %}
                            {{lesson_detail.student.pay_rate_group}}
                            {% else %}
                            {{lesson_detail.student.pay_rate_single}}
                            {% endif %}
                            <small>zł/h</small>
                          </div>
                          <div class="col text-align-center">
                            <span class="bold">{{lesson_detail.price}} zł</span>
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>            
                </div>
              {% endfor %}
              
              {% comment %} Instructor lesson sum {% endcomment %}
              <div class="row instr-summary-row">
                <div class="col-2">
                  <span class="bold">Suma:</span>  
                </div>
                <div class="col-1 px-1">
                {% comment %} TEMPORARILY DISABLED DUE TO MISCALCULATION - TO BE DEBUGGED {% endcomment %}
                  {% comment %} <span class="bold">{{instructor.instructor_lessons_duration_sum}}</span> h {% endcomment %}

                </div>
                

                <div class="col">
                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col-auto">
                      <span class="bold">{{instructor.lessondetail_duration_sum|default_if_none:"--"}}</span> h
                    </div>
                    <div class="col"></div>
                    <div class="col text-align-center">
                      <span class="green-bold">{{instructor.lessons_price_sum|default_if_none:"--"}}</span> zł
                    </div>
                  </div>              
                </div>

              </div>
            {% endif %}
          </div>        
        </div>
      {% endfor %}    
    </div>

    <div class="container mt-2 summary-detail-master summary_details summary-rental-master collapse  " id="collapseExample">
      <div class="row my-3">
        <div class="col-2 detail-section-rental-title">
          <h4>Rentale</h4>
        </div>  
      </div>
      {% if rentals.students.all.count == 0 %}
        <div class="row mb-4">
          <div class="col-5">
            <i>Brak rentów do rozliczenia</i>
          </div>
        </div>
      {% else %}
      {% for student in rentals.students %}
        <div class="row mb-4 summary-detail-instr-div summary-student-rental-div">
          
          <div class="col-2 align-self-center">
            <div class="row">
              <div class="col bold">
                {{student}}
              </div>
            </div>
          </div>

          <div class="col-10 det-instr-lessons">
           
            {% for rent in student.rental_set.all %}
              <div class="row det-lesson">

                <div class="col-auto rental-date">
                  <div class="row">
                    <div class="col">
                      <div>
                        <i class="fa fa-sm fa-circle text-success rental-start-end-icon"></i>
                        {{rent.start_date|date:'d-m-Y H:i'}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div>
                        <i class="fa fa-sm fa-circle text-danger rental-start-end-icon"></i>
                        {{rent.end_date|date:'d-m-Y H:i'}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-auto align-self-center">
                  <div><b>{{rent.rent_duration|floatformat:'-1'}} h</b></div>
                </div>

                <div class="col">
                  {% if not rent.paid %}
                    <i>rent w trakcie</i>
                  {% else %}
                    {% for rent_detail in rent.rentaldetail_set.all%}
                      <div class="row">
                        <div class="col-3">
                          <span>{{rent_detail.get_rent_item_display}}</span>
                        </div>
                        <div class="col-auto">
                          <span>x{{rent_detail.quantity}}</span>                    
                        </div>
                        <div class="col-5">
                          {{rent_detail.price}}
                          <small>zł/h</small>
                        </div>
                        <div class="col text-align-center">
                          <span class="bold">{{rent_detail.item_rent_gross_amt}} zł</span>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>            
              </div>
            {% endfor %}
            
            {% comment %} Instructor lesson sum {% endcomment %}
            <div class="row instr-summary-row">
              <div class="col-10">
                <span class="bold">Suma:</span>  
              </div>              

              <div class="col-auto ml-3">
                <span class="green-bold">{{student.student_total_rent_amt|default_if_none:"--"}}</span> zł
              </div>

            </div>
          </div>        
        </div>
      {% endfor %}
      {% endif %}    
    </div>


<script src="{% static 'js/show_collapse.js' %}"></script>
{% comment %} {{student_rent.rent_duration}}
{{student_rent.item_rent_gross_amt}} {% endcomment %}

{% endblock content%}