{% comment %} {% load fontawesome_5 %} {% endcomment %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'fontawesome-free/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-free/css/brands.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-free/css/solid.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-free/css/regular.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <title>Kitescontrol</title>
  {% block extra_css %}
  {% endblock extra_css %}
</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Kitescontrol</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  href="{% url 'dashboard:dashboard-home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link {% if 'student' in request.path%}text-warning{%endif%}" 
          href="{% url 'student:student-list' %}">
          <span>Kursant</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link {% if 'instructor' in request.path%}text-warning{%endif%}" 
          href="{% url 'instructor:instructor-list' %}">
          <span>Instruktor</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link {% if 'lesson' in request.path%}text-warning{%endif%}" 
          href="{% url 'lesson:lesson-list' %}">
          <span>Grafik</span>
        </a>
      </li>       
    </ul>
    <div class="ml-5 pl-5">
      <a class="nav-link" href="{% url 'account:logout' %}" >
        <button class="btn btn-outline-warning" type="button">Wyloguj</button>
      </a>
    </div>
  </div>
</nav>

  {% block content %}
  {% endblock content %}
</body>
</html>