<div class="col">
  {% if student_search_results %}
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <table class="table  table-sm table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" title="student">Kursant</th>
            <th scope="col" title="student_mobile">Telefon</th>
            <th scope="col" title="student_weight">Waga</th>
            <th scope="col" title="student_stay_location">Pobyt</th>
            <th scope="col" title="ikoLevel">Auto</th>
            <th scope="col" title="ikoLevel">Wyjazdy</th>
            <th scope="col" title="ikoLevel">Poziom IKO</th>
            <th scope="col" title="ikoLevel">Stawka ind./gr.</th>
          </tr>
        </thead>
        <tbody>
          {% for student in student_search_results %}
          <tr>
            <td>
              <a href="{{ student.get_absolute_url }}">{{student}}</a>
            </td>
            <td>
              {{student.mobile_number|default_if_none:"--"}}
            </td>
            <td>
              {{student.weight|default_if_none:"--"}}
            </td>
            <td>
              {{student.stay_location|default_if_none:"--"}}
            </td>
            <td>
              {% if student.own_car %}
              <i class="fas fa-check text-success"></i>
              {%else%}
              <i class="fas fa-times text-danger"></i>
              {%endif%}
            </td>
            <td>
              {% if student.kite_elsewhere %}
              <i class="fas fa-check text-success"></i>
              {%else%}
              <i class="fas fa-times text-danger"></i>
              {%endif%}
            </td>
            <td>
              {{student.iko_level|default_if_none:"--"}}
            </td>
            <td>
              {{student.pay_rate_single|default_if_none:"--"}} /
              {{student.pay_rate_group|default_if_none:"--"}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <i class="fas fa-lg fa-angle-double-left px-2 pagination-icon student-pagination paginator-next-page" id="1"></i>
          <i class="fas fa-lg fa-angle-left px-2 pagination-icon student-pagination paginator-next-page"
            id="{{ page_obj.previous_page_number }}"></i>
          {% endif %}

          <span class="current">
            Strona {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
          <i class="fas fa-lg fa-angle-right px-2 pagination-icon student-pagination paginator-next-page"
            id="{{ page_obj.next_page_number }}"></i>
          <i class="fas fa-lg fa-angle-double-right px-2 pagination-icon student-pagination paginator-next-page"
            id="{{ page_obj.paginator.num_pages }}"></i>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col">
      <h5>Brak wyników</h5>
    </div>
  </div>
  {% endif %}
</div>