<div class="col">
  {% if lesson_search_results %}
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <table class="table table-sm table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" title="Numer">#</th>
            <th scope="col" title="Data">Data i godzina</th>
            <th scope="col" title="Czas trwania">Czas</th>
            <th scope="col" title="Instruktor">Instruktor</th>
            <th scope="col" title="Kursant">Kursant</th>
            <th scope="col" title="Ind./Gr.">Ind./Gr.</th>
            <th scope="col" title="Sprzet">Sprzęt</th>
            <th scope="col" title="Zakonczona">Zakończona</th>
            <th scope="col" title="Zaplacona">Zapłacona</th>
            <th scope="col" title="Akcje">Akcje</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lesson_search_results %}
          <tr class="{% if lesson.group_lesson %}lesson-group-bckg-clr{% else %}lesson-single-bckg-clr{% endif %}">
            <td>
              {{forloop.counter}}
            </td>
            <td>
              {{lesson.start_date|date:"d-m-Y"}} {{lesson.start_time|time:"H:i"}}
            </td>
            <td>
              {{lesson.duration}}h
            </td>
            <td>
              {% for instructor in lesson.instructor.all %}
              <a href="{{ instructor.get_absolute_url }}">{{instructor}}</a><br>
              {% endfor %}
            </td>
            <td>
              {% if lesson.lessondetail_set.all %}
              {% for detail in lesson.lessondetail_set.all %}
              <div class="squeeze-lines">
                <a href="{{ detail.student.get_absolute_url }}">{{detail.student}}</a><br>
                <small>zdobyty poziom: {{ detail.iko_level_achieved|default_if_none:"--" }}</small>
              </div>
              {% endfor %}
              {% else %}
              {% for student in lesson.student.all %}
              <a href="{{ student.get_absolute_url }}">{{student}}</a><br>
              {% endfor %}
              {% endif %}
            </td>
            <td>
              {% if lesson.group_lesson %}
              <i class="fas fa-user-friends lesson-group-icon"></i>
              {% else %}
              <i class="fas fa-sm fa-user lesson-single-icon"></i>
              {% endif %}
            </td>
            <td>
              Kite: {{lesson.kite_brand|default_if_none:"--"}}<br>
              Deska: {{lesson.board|default_if_none:"--"}}
            </td>
            <td>
              {% if lesson.completed %}
              <i class="fas fa-check text-success"></i>
              {% else %}
              <i class="fas fa-times text-danger"></i>
              {% endif %}
            </td>
            <td>
              {% if lesson.paid %}
              <i class="fas fa-check text-success"></i>
              {% else %}
              <i class="fas fa-times text-danger"></i>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'lesson:lesson-detail' lesson.id %}">
                <i class="fas fa-info"></i>&nbsp;Szczegóły
              </a>
              <br>
              <a href="{% url 'lesson:lesson-list' lesson.get_date_formatted %}">
                <i class="far fa-calendar-alt"></i>&nbsp;Pokaż na grafiku
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <i class="fas fa-lg fa-angle-double-left px-2 pagination-icon lesson-pagination paginator-next-page"
            id="1"></i>
          <i class="fas fa-lg fa-angle-left px-2 pagination-icon lesson-pagination paginator-next-page"
            id="{{ page_obj.previous_page_number }}"></i>
          {% endif %}

          <span class="current">
            Strona {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
          <i class="fas fa-lg fa-angle-right px-2 pagination-icon lesson-pagination paginator-next-page"
            id="{{ page_obj.next_page_number }}"></i>
          <i class="fas fa-lg fa-angle-double-right px-2 pagination-icon lesson-pagination paginator-next-page"
            id="{{ page_obj.paginator.num_pages }}"></i>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col">
      <h5>Brak wyników</h5>
    </div>
  </div>
  {% endif %}
</div>