.main-card{
  min-height: 100vh;
  box-shadow: 0px 0px 12px 1px #dedede;
  /* padding: 2rem 0 2rem 0; */
}

.detail-parent{
  background-color: #ebebeb;
  border-radius: 1rem;
  padding: .7rem;
  margin-left: 1rem;
}

.detail-column:not(:last-child){
  border-right: 1px solid gray;
}

.detail-item-row{
  border-bottom: 1px solid #adadad;
  margin: 0 .2em .7em .2em;
}

.student-item > div{
  line-height: 100%;
}