.login-container{
    display: grid;
    width:300px;
    max-width:100%;
    margin:50px auto;
    padding: 1rem;
}
.text{
    text-align: center;
    
}
.reset-back-link{
  position: absolute;
  z-index: 1;
}

.btn-login{
    background-color:#FF5964;
    color:#fff;
}